DJANGO_DEBUG=True
SECRET_KEY=change-me-in-production
DB_NAME=bulk_website_generator
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
OPENAI_KEY=
OPENAI_IMG_KEY=
ANTHROPIC_KEY=
NETLIFY_ACCESS_KEY=
RECAPTCHA_SITE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID
CELERY_BROKER_URL=redis://localhost:6379/0
BACKEND_IP=157.245.218.95