<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Listing</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full" style="background: rgb(11, 25, 47);">
        <div id="navbar" class="w-full flex items-center justify-between sectionWidth py-[30px] px-[30px]">
            <div id="logo" class="text-[24px] font-[800]" style="color: rgb(255, 118, 23);">CPP</div>
        </div>
    </div>

    <div style="min-height: 60vh; margin: 10vh 10vh;">
        <a type="button" class="px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white  rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800" style="background: #0b192f;"
        href="{% url 'projects' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16" style="margin-right: 5px">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
          </svg>
            Back
        </a>
    
        <section>
            <h4 style="margin-top: 20px; font-size: 15px">No Content</h4>
        </section>
    </div>
    <div style="background: white;">
        <div class="text-center py-[30px] border-t-[0.25px] text-[18px]">
            <p>Copyright © 2025 CPP - Powered by CPP</p>
        </div>
    </div>

<script type="module" src="/src/main.tsx?t=1739442228609"></script>

<div id="loom-companion-mv3" ext-id="liecbddmkiiihnedobmlmillhodjkdmb">
<div id="shadow-host-companion"></div>
</div>
</body>
</html>
